/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.layout1 main {
	display: flex;
	margin-bottom: 2%;
}

.layout1 article {
	flex: 1 58%;
	margin-right: 2%;
}



.layout2 header {
	display: flex;
}

.layout2 header nav {
	flex: 1;
	margin-left: 2%;
}

.layout2 main {
	display: flex;
	margin-bottom: 2%;
}

.layout2 article {
	flex: 1 56%;
	margin-left: 2%;
	margin-right: 2%;
}

.layout2 .sidenav,
.layout2 .sidebar {
	flex: 1 20%;
}



.layout3 header {
	display: flex;
	flex-direction: row-reverse;
}

.layout3 header nav {
	flex: 1;
	margin-right: 2%;
}

.layout3 .articles {
	display: flex;
}

.layout3 article {
	flex: 1;

}

.layout3 .articles article:not(:last-child) {
	margin-right: 2%;
}
